body {
    font-size: 100%;
    background-color: azure
}
/* div {
    font-size: 2rem;
} */
img {
    max-width: 100%;
}

.large-only {
    display: none;
}

nav,
nav ul {
    display: flex;
    display: -ms-flex;
    /* flex-direction: row-reverse; */
}

header nav ul li {
    margin-right: 2rem;
}

header nav ul li a:hover {
    color: red;
    /* font-size: 4rem; */
}

nav ul {
    list-style: none;
}